.btn-blue {
background-color: #FFED00;
padding: 15px 20px;
border-radius: 20px;
color: white;
font-weight: bold;
font-family: 'Merriweather', serif;
text-decoration: none;
display: inline-block;
transition: all 0.3s ease;
margin-top: 20px;
margin-left: 120px;
}

.btn-blue:hover {
background-color: black;
transform: scale(1.0);
}
